.App {
  text-align: center;
}

.icons{
  color:white;
  margin: 0 10px;
  cursor: pointer;
}

.navItems{
  color: yellow;
  font-size: 35px;
  margin: auto 10px;
}

.navItemsDropdown{
  font-size: 35px;
  font-weight: 500;
}

.homePage{
  background: url(images/frontShop.jpg) no-repeat fixed center ; 
  background-color: maroon;
  background-size: 100% 100%;
}




