
.navItems{
  font-size: 35px;
  margin: auto 10px;
}

.navItemsDropdown{
  font-size: 35px;
  font-weight: 500;
}

.homePage{
  background: url(images/frontShop.jpg) no-repeat fixed center ; 
  background-size: 100% 100%;
}

.menuBackground{
  height:100%;
  background: url(images/themes/asphalt3.jpg) no-repeat fixed center ; 
  background-size: 100% 100%;
}

.mobileCardMenuItem{
  background-color: "red";
  width: '100%';
  height: '100%';
}


